#section-two-container{
	display: flex;
	width:100%;
	height:100%;
	background-color: slategray;
	flex-direction: column;

}
#section-two-sections{
	display: inline-flex;
	font-style: Arial;
	justify-content: space-around;
	border: 1px dashed red;
	width: 100%;
}
#section-two-top{
	border: orange solid 1px;
	width: 100%;
	height: 18%;
	text-align: center;
	background-color: LightCyan;
}
#section-two-body{
	width: 100%;
	height: 100%;
	background-color: lavender;
}