#content-container{
	display: flex;
	flex-direction: column;
	border: 1px dashed red;
	justify-content: space-around;
	background-image: url("./volcano5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
}
.about-title{
	text-align: center;
}
.content-item{
	background-color: lightgray;
	opacity: 0.5;
	border: 1px dashed green;
	text-align: center;
}